/*
ALTERAÇÕES 
1. Gerais
Ajustar fonte para Raleway;
Decidir e definir papel de parede;
Colocar radius e ajustar opacidade em nav, form e footer;

2. Em tela grande: 
Efeito hover nos links da nav;
Ajustar descrição deficiencia e enviar curriculo;
Botão enviar no meio;

3. Em tela pequena:

*/

/*Ajuste dos links*/
a {
     text-decoration: none;
     color: #000;
}

/*Descrição da página*/
.description {
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     align-items: center;
     width: 90vw;
     margin: auto;
     text-align: center;
     border: solid 2px black;
}

/*Texto da página*/
.texto {
     /*font-family: Raleway', sans-serif;*/
     color: #1C2030;
}

/*Formulário*/
fieldset {
     border-radius: 20px;
     border-color: transparent;
     margin: 10px auto;
     padding: 20px;
     }

input, textarea, select {
     border-radius: 5px;
     box-shadow: blue;
     width: 80%;
     margin: 10px auto;
}

/*Outros*/
nav, form, footer {
     background-color: #ADACB5;
     margin: 20px auto;
     }

footer {
     text-align: center;
     display: flex; 
     justify-content: center;
     align-items: center;
     width: 90vw;
     }

/*Configurações para telas pequenas*/
@media screen and (min-width: 270px) and (max-width: 767px) {
     .menu-container {
          width: 90vw;
          display: flex;
          flex-flow: column wrap;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          }
          
     .item-menu {
          width: 80%;
          padding: 10px;
          text-align: center;
          border: 2px solid black;
          margin: 5px auto;
          }
          
     .form-container {
          display: flex;
          width: 90vw;
          height: 100%;
          flex-flow: column wrap;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          }
          
     .item-form {

          justify-content: space-between;
          align-items: center;
          padding: 10px;
          margin: 10px auto;
          width: 80%;
          
          background-color: #D8D5DB;
          text-align: center;
}

     .texto-footer {
          border: 2px solid black; 
          width: 80%;
     }
}

/*Configurações para telas médias e grandes*/
@media screen and (min-width: 768px) {
     .menu-container {
          display: flex;
          height: 10vh;
          width: 90vw;
          justify-content: space-between;
          align-content: center;
          }
          
     .item-menu {
          width: 10vw;
          height: 5vh;
          padding: 5px;
          margin: 5px;
          text-align: center;
          border: 2px solid black;
          }
     .form-container {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          width: 90vw;
     } 

     .item-form {
          margin: 20px auto;
     }

     legend {
          text-align: center; 
     }
          
     fieldset {
          width: 25%;
     }
     footer {
          width: 90vw;
          height: 5vh;
          text-align: center;
          }
}

