/*
ALTERAÇÕES 
1. Gerais
Decidir e definir papel de parede;

2. Em tela grande: 
LOGO NO LADO ESQUERDO E NAV NO DIREITO
Ajustar descrição deficiencia e enviar curriculo;

3. Em tela pequena:
Aplicar alterações de design tela pequena
*/

/*Importação de fonte Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*Ajuste dos links*/
a {
     text-decoration: none;
     color: #000;
}

/*Descrição da página*/
.description {
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     align-items: center;
     width: 90vw;
     margin: auto;
     text-align: center;
}

body {
     background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(218,214,213,1) 50%), url(./img/desktop-background.jpg);
}
/*Texto da página*/
.texto {
     font-family: "Raleway", sans-serif;
     color: #1C2030;
}

/*Formulário*/
fieldset {
     background-color: rgba(217, 203, 189, 0.7);
     border: none;
     margin: 10px auto;
     padding: 20px;
     }

input, textarea, select {
     border-radius: 5px;
     box-shadow: blue;
     width: 80%;
     margin: 10px auto;
}

/*Outros*/
.menu-container, form, footer {
     margin: 40px auto;
}

.menu-container {
     display: flex;
     justify-content: center;
     align-items: center;
}

footer {
     text-align: center;
     display: flex; 
     justify-content: center;
     align-items: center;
     width: 90vw;
     }

.item-form {
     display: flex;
     flex-flow: column wrap;
     align-items: center;

}
/*Configurações para telas pequenas*/
@media screen and (min-width: 270px) and (max-width: 767px) {
     body {
          margin: 0 auto;
          background-image: url(./img/mobile-background.png);
          background-repeat: no-repeat;
          background-size: cover;
     }

     .menu-container {
          width: 90vw;
          display: flex;
          flex-flow: column wrap;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          }
          
     .item-menu {
          width: 80%;
          padding: 10px;
          text-align: center;
          border: 2px solid black;
          margin: 5px auto;
          }
          
     .form-container {
          display: flex;
          width: 90vw;
          height: 100%;
          flex-flow: column wrap;
          justify-content: space-between;
          align-items: center;
          align-content: center;
          }
          
     .item-form {
          padding: 10px;
          margin: 10px auto;
          width: 80%;
          border: 1px solid #000;
          text-align: center;
          }

     .texto-footer {
          border: 2px solid black; 
          width: 80%;
     }
}

/*Configurações para telas médias e grandes*/
@media screen and (min-width: 768px) {
     body {
          /*background-image: url(./img/desktop-background.jpg);
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: 100%;*/
     }
     .menu-container {
          display: flex;
          height: 10vh;
          width: 90vw;
          justify-content: flex-end;
          align-content: center;
          }
          
     .item-menu {
          width: 10vw;
          height: 50px;
          line-height: 50px;
          padding: 5px;
          margin: 5px;
          text-align: center;
          background-color: #dbbea0;
          }

     .item-menu:hover {
          background-color:  #b79573;
     }

     #logo {
          padding: 5px;
          margin: 5px;
          height: 100px;
          justify-self: flex-start;
     }
     .form-container {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          width: 90vw;
     } 
     legend {
          text-align: center; 
     }
          
     fieldset {
          width: 25%;
     }

     button {
          width: 200px;
          height: 50px;
          margin: 50px auto;
          background-color: #b79573;
          border: none;
     }

     button:hover {
          background-color: #a38364; 
     }


     footer {
          width: 90vw;
          height: 5vh;
          text-align: center;
          }
}

